header {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.logo {
	margin-top: 10px;
	margin-left: 30px;
}

.header-content {
	display: flex;
}

#separate-icons {
	margin: -5px 15px -5px 20px;
	width: 2px;
	background-color: #fff;
}

.nav-icons-container {
	display: flex;
	align-items: center;
	margin-right: 35px;
}

.nav-icons {
	cursor: pointer;
	margin: 0 5px;
}

#separate-icons.bar-invisible {
	background-color: var(--elements-color);
}

@media (max-width: 930px) {
	.logo {
		margin-left: -10px;
		transform: scale(0.8);
	}

	.nav-logos {
		transform: scale(0.8);
	}

	#separate-icons {
		margin: 3px 15px 3px 5px;
	}

	.nav-icons {
		transform: scale(0.9);
	}
}

@media (max-width: 820px) {
	.logo {
		margin-left: -30px;
		transform: scale(0.7);
	}

	.nav-logos,
	#separate-icons {
		display: none;
	}
}
