header {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.logo {
	transform: scale(0.8);
	margin-top: 10px;
	margin-left: 30px;
}

.header-content {
	display: flex;
}

#separate-icons.bar-shown {
	margin: -5px 15px -5px 20px;
	width: 2px;
	background-color: #fff;
}

.nav-icons-container {
	display: flex;
	align-items: center;
	margin-right: 35px;
}

.nav-icons {
	cursor: pointer;
	margin: 0 5px;
}

#home {
	width: 35px;
}

img.nav-logo {
	height: 60px;
}

.nav-logo.bar-invisible {
	padding-right: 40px;
}

#separate-icons.bar-invisible {
	display: none;
}

@media (max-width: 830px) {
	.logo {
		margin-left: -10px;
		transform: scale(0.7);
	}

	.nav-logo {
		transform: scale(0.9);
	}

	#separate-icons {
		margin: 3px 15px 3px 5px;
	}

	.nav-icons {
		transform: scale(0.9);
	}
}

@media (max-width: 680px) {
	.logo {
		margin-left: -30px;
		transform: scale(0.6);
	}

	.nav-logo,
	#separate-icons {
		display: none;
	}
}

@media (max-width: 480px) {
	.logo {
		margin-left: -85px;
		transform: scale(0.5);
	}

	.nav-icons {
		transform: scale(0.7);
		margin: 5px 0 0 0;
	}

	.header-content {
		margin-left: -80px;
	}
}

/* iphone 5/SE */
@media (max-width: 330px) {
	.logo {
		margin-left: -110px;
		transform: scale(0.45);
	}

	.nav-icons {
		margin: 5px -5px 0 0;
	}

	.header-content {
		margin-left: -100px;
	}
}