<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <meta name="keywords"
    content="prefeitura rio, rio, rj, saude, educacao, cursos online, educacao permanente, ministerio da saude">
  <meta name="keywords" content="poli, ufrj, guia, conhecendo a poli">

  <!-- icons -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  <script src="../../static/script/script.js"></script>

  <link rel="stylesheet" href="../../static/css/main.css">

  <!-- MUDAR PRA MATERIAL ICON -->
  <!-- for nav toggle icon -->
  <script src='https://kit.fontawesome.com/a076d05399.js'></script>

  {% block head %}{% endblock %}

</head>

<body>
  <!-- page container styled with css grid -->
  <div class="grid-container">

    <!-- acessibility session: font sizes -->
    <div class="acessibility">
      <a href="#" alt="Aumentar fonte" title="Aumentar fonte"> <i class="material-icons"
          id="acessible-elements">add_circle_outline</i></a>
      <a href="#" alt="Diminuir fonte" title="Diminuir fonte"><i class="material-icons"
          id="acessible-elements">remove_circle_outline</i></a>
    </div>

    
    <header>
      <div class="logo"><a href="/">Educação Permanente</a></div>
      
      <!-- navegation -->
      <nav class="myNav" id="myNav">
        
        <!-- button for nav sliding -->
        <input type="checkbox" id="check">
        <label for="check" class="checkbtn">
          <i class="fas fa-bars"></i>
        </label>

        <!-- nav links -->
        <ul class="nav__links">
          <li><a href="cadastroturma" class="middle" title="Cadastrar Turma">Cadastrar Turma</a></li>
          <li><a href="cadastroalunonaturma" class="middle" title="Cadastrar Alunos">Cadastrar Alunos</a></li>
          <li><a href="listaturma" class="middle" title="Listar Turmas">Listar Turmas</a></li>
          <!-- <li><a href="#areas" class="middle" title="Cadastrar Horário">Cadastrar Horário</a></li> -->
          <li><a href="cadastrodadoscomplementares" class="middle" title="Dados complementares">Mais Dados</a></li>
        </ul>

      </nav>

      <!-- user buttons -->
      {% if not session['logged_in'] %}
      <a href="/" title="Login"><i class="material-icons" id="nav-elements">person</i></a>
      {% endif %}

      {% if session['logged_in'] %}
      <a href="sair" title="Sair"> <i class="material-icons" id="nav-elements">power_settings_new</i> </a>
      {% endif %}

    </header>

    <!-- main content -->
    <main class="main">
      {% block content %}{% endblock %}
    </main>

    <footer>&copy;Sobre a prefeitura etcetcetc</footer>
  </div>
</body>



</html>