<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <meta name="keywords"
        content="prefeitura rio, rio, rj, saude, educacao, cursos online, educacao permanente, ministerio da saude">
    <meta name="keywords" content="poli, ufrj, guia, conhecendo a poli">

    <link rel="stylesheet" href="../../static/css/main.css">
</head>


<div class="login-index">
    
    <div class="index-header">
        <a href="/">Educação Permanente</a> 
    </div>

    <main class="main-content-forms">
        <div class="form-page-container">
            <div class="form-container">

                <form action="/logar" method="POST">
                    <h1>Esqueceu a senha? </h1>
                    <p>Preencha o formulário para receber a senha por e-mail!</p>
                    <!--Email Input-->
                    <input type="text" name = "email" class="form-input" placeholder="E-mail" required>
                    <!--Submit Button-->
                    <input type="submit" class="button login" value = "Enviar">
                </form>
            </div>
            <!--/.form-page-container-container-->
        </div>
        <!--/.form-container-->
    </main>
</div>

