{% extends "base/base.html" %}

{% block head %}
<title>Educação Permanente</title>
{% endblock %}

<div class="topnav" id="myTopnav">
    <a href="/" class="active">Inicio</a>
</div>


{% block content %}
    
    {% if not eventos %}
    <div class="card">Nada por aqui</div>
    {% endif %}

<div class="card-container">


    {% for evento in eventos %}
    <div class="card">
        <div class="type"></div>
        <table class="card-list">
            <tr class="title">
                <td>{{evento[2]}}</td>
            </tr>

            <tr class="tutor">
                <td>Responsável:</td>
                <td><span class="tutor__highlight">{{evento[10]}}</span> </td>
            </tr>

            <tr class="header">
                <th>Turma</th>
                <th>Informações</th>
            </tr>

            <tr>
                <td class="name">Dia</td>
                <td class="value">{{evento[3]}}</td>
            </tr>

            <tr>
                <td class="name">Hora</td>
                <td class="value">{{evento[4]}}</td>
            </tr>

            <tr>
                <td class="name">Carga horária total</td>
                <td class="value">{{evento[5]}}</td>
            </tr>

            <tr>
                <td class="name">Tolerância</td>
                <td class="value">{{evento[6]}}</td>
            </tr>

            <tr>
                <td class="name">Modalidade</td>
                <td class="value">{{evento[7]}}</td>
            </tr>

            <tr>
                <td class="name">Tag</td>
                <td class="value">{{evento[8]}}</td>
            </tr>

            <tr>
                <a href="listaturma/{{evento[2]}}" class="class-page" title="Página da turma"><i class="material-icons"
                        id="more-details">add</i>info.</a>
            </tr>

            </tr>
        </table>
    </div>
    {% endfor %}
</div>
{% endblock %}