.card-container.aulas tr.title {
    margin-top: -10px;
}

#title td {
    text-align: center!important;
}

@media(max-width: 900px) {
    .card-container.aulas {
        margin-top: -35%;
    }
}

/* FOR CARDS */
@media (max-width: 1000px) {
    .card-container {
      justify-content: center!important;
      margin: 0;
    }
  }