.document__link {
   margin: 1em;
   padding: 0.5em;
	width: 300px;
	height: 200px;
	background-color: #fff;
   box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
   transition: all 0.6s cubic-bezier(.25, .8, .25, 1);
   cursor: pointer;
}

.document__link:hover {
   box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
 }

h3.document__link-title {
   font-size: 1.6em;
   margin-top: 1em;
   margin-bottom: 1em;
	font-weight: bold;
	display: flex;
	justify-content: center;
}

.document__link .line {
   margin: 20px 45px;
   width: 70%;
   height: 0px;
   border: 1px solid #b6b6b6;
}

@media (max-width: 500px) {
   .document__link {
      transform: scale(0.9);
   }
}