.main {
    display: flex;
    flex-direction: row;
    /* align-items: center; */
}

.main button {
  cursor: pointer;
}

.nav-info-turmas {
    margin-top: 2rem;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}