body {
    background-color: #efefef;
}

.form-page-container.login {
    height: 450px;
}

.form-page-container.login p {
    margin-bottom: 10px;
}

@media (max-width: 500px) {
    .form-page-container,
    .form-container, .main-content-forms {
      transform: scale(0.9);
    }

    .form-page-container .login {
        margin-top: 150px;
    }

    .index-header {
        font-size: 0.8em;
    }
  }