.card-container ul {
	margin: 20px 0 20px -40px !important;
}

.card-relatorio {
	list-style: none;
	background-color: #fff;
	margin: 1em;
	padding: 20px;
	box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
	-webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16),
		0 3px 6px rgba(0, 0, 0, 0.23);
	width: 1000px;

	display: flex;
	flex-direction: column;
}

.campo {
	padding-top: 10px;
	font-size: 0.9em;
	text-transform: uppercase;
	font-family: "gadugi-bold";
}

p.campo {
	text-align: center;
	font-size: 1.2em;
}

table.relatorio-head thead{
	display: flex;
	justify-content: space-between;
}

tr th:nth-child(1) {
	width: 30%;
}

tr th:nth-child(2) {
	width: 55%;
}

.card-relatorio .relatorio-content__container .relatorio-content{
	width: 100%!important;
	display: flex;
	justify-content: space-between;
}

table.relatorio-content tbody{
	width: 100%;
}

table.relatorio-content tbody tr {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

table.relatorio-content tbody tr td:not(:first-child) {
	text-align: center;
	width: 25%;
	padding-left: -30px;
}

table.relatorio-content tbody tr td:nth-child(3) {
	width: 60%;
}

table.relatorio-content tbody tr td:nth-child(4) {
	width: 15%;
	margin-right: -20px;
}


td.id__contato {
	margin-left: -20px;
	font-size: 1.1em;
	padding-bottom: 5px;
}

tbody tr {
	margin: 0 20px;
}

@media (max-width: 1100px) {
	.card-relatorio {
		width: 800px;
	}

}

@media (max-width: 850px) {
	.card-relatorio {
		width: 90%;
	}

}

@media (max-width: 770px) {
	.card-relatorio tr {
		font-size: 1em !important;
	}

	.id__contato {
		margin-left: -40px!important;
	}

}

.card-relatorio.cpf {
	width: 300px;
}

.card-relatorio.frequencia {
	width: 300px;
}

.card-relatorio tr {
	padding: 5px;
	font-size: 1.1em;
}

tr.info-alunos td {
	font-size: 1em;
	display: flex;
	justify-content: center;
	flex-direction: row;
}

.card-relatorio tr.topo td.title {
	margin-left: 1em;
}

.card-relatorio td.id,
span.id,
td strong {
	color: var(--details-color);
	margin-left: 15px;
}

td.cpf {
	font-weight: bold;
	font-size: 0.8em !important;
}


span.info {
	text-transform: capitalize;
	margin-left: 5px;
}

td.topo__contato .campo {
	padding-left: 1em;
}
