.card-container ul {
	margin: 20px 0 20px -40px !important;
}

.card-relatorio {
	list-style: none;
	background-color: #fff;
	margin: 1em;
	padding: 20px;
	box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
	-webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16),
		0 3px 6px rgba(0, 0, 0, 0.23);
	width: 1000px;

	display: flex;
	flex-wrap: wrap;
}

/* Fazer isso com javascript!!! */

.card-relatorio table.odd-elements:last-child,
.card-relatorio table.odd-elements:nth-last-child(2):nth-child(odd) {
	margin-right: 50%;
}

/* .card-relatorio table:last-child {
	width: 50%!important;
} */

.card-relatorio table {
	width: 50%;
}

@media (max-width: 1100px) {
	.card-relatorio {
		width: 800px;
	}

	.card-relatorio table {
		width: 100% !important;
	}

	.card-relatorio table.odd-elements:last-child,
	.card-relatorio table.odd-elements:nth-last-child(2):nth-child(odd) {
		margin-right: 0;
	}
}

@media (max-width: 850px) {
	.card-relatorio {
		width: 90%;
	}
}

@media (max-width: 650px) {
	.card-relatorio tr {
		font-size: 1em !important;
	}
}

.card-relatorio.contato {
	width: 320px;
}

.card-relatorio.cpf {
	width: 300px;
}

.card-relatorio.frequencia {
	width: 300px;
}

.card-relatorio tr {
	padding: 5px;
	font-size: 1.1em;
}

tr.info-alunos td {
	font-size: 1em;
	display: flex;
	justify-content: center;
	flex-direction: row;
}

.card-relatorio tr.topo td.title {
	margin-left: 1em;
}

.card-relatorio td.id,
span.id,
td strong {
	color: var(--details-color);
	margin-left: 15px;
}

td.cpf {
	font-weight: bold;
	font-size: 0.8em !important;
}

tbody {
	display: flex;
	flex-direction: column;
}

tbody tr {
	margin: 0 20px;
	display: flex;
	justify-content: space-between;
}
.campo {
	padding-top: 10px;
	font-size: 0.9em;
	text-transform: uppercase;
	font-family: "gadugi-bold";
}

span.info {
	text-transform: capitalize;
	margin-left: 5px;
}

.topo__contato {
	font-size: 1.1em;
	padding-bottom: 5px;
}

td.topo__contato .campo {
	padding-left: 1em;
}
