@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

/* ajustar fonte h1 */

.info-turmas {
    margin-top: -10px;
    margin-bottom: 2rem!important;
    font-family: 'Montserrat', sans-serif;
}

.info-turmas h1 {
    font-weight: bold;
}