{% extends "base/base.html" %}

{% block head %}
<title>Cadastro - Educação Permanente</title>
{% endblock %}

{% block content %}
<div class="main-content-forms">
    {% if session['logged_in'] %}
    <p class="notification">Você está logado</p>

    {% else %}


    <div class="form-page-container">
        <div class="form-container">

            <form action="/cadastrar" method="POST">
                <h1>Bem vindo(a)! </h1>
                <p>Efetue cadastro para utilização de nossas funcionalidades.</p>
                <!--User Input-->
                <input type="text" name="usuario" class="form-input" placeholder="Usuário" required>
                <!--Email Input-->
                <input type="text" name="email" class="form-input" placeholder="Email" required>
                <!--Password Input-->
                <input type="password" name="senha" id="password" class="form-input" placeholder="Senha" required>
                <!--Confirm Password Input-->
                <input type="password" name="confirme_senha" id="confirm_password" class="form-input"
                    placeholder="Confirme a Senha" required>
                <!--Sign Up Button-->
                <input type="submit" class="button login" value="cadastrar">
                <a href="/">Já possui uma conta? <span class="form-highlight">Faça login</span></a>
            </form>
        </div> <!--/.form-container-->
    </div><!--/.form-page-container-->
    

    {% endif %}

    {% if erro_cad %}
    <script>
        alert("Erro no cadastro");
    </script>
    {% endif %}

    <script>

        var password = document.getElementById("password")
            , confirm_password = document.getElementById("confirm_password");

        function validatePassword() {
            if (password.value != confirm_password.value) {
                confirm_password.setCustomValidity("Insira senhas iguais");
            } else {
                confirm_password.setCustomValidity('');
            }
        }

        password.onchange = validatePassword;
        confirm_password.onkeyup = validatePassword;

    </script>


</div>
{% endblock %}
