{% extends "base/base.html" %}

{% block head %}
<title>Cadastro de Turma - Educação Permanente</title>
{% endblock %}

{% block content %}
<div class="main-content-forms">
    {% if session['logged_in'] %}
    {%if session['gestor'] == 1 or session['coordenador'] == 1 %}
    <div class="form-page-container">
        <div class="form-container">


            <form action="/cadastrarturma" method="POST">
                <h1>Cadastre sua turma! </h1>
                <p>Cadastre aqui sua turma Educação Permanente.</p>
                <!--User Input-->
                <input type="text" name="professor" class="form-input" placeholder="Professor" required>
                <!--Email Input-->
                <input type="text" name="codigo" class="form-input" placeholder="Codigo da Turma" required>
                <!--Password Input-->
                <input type="text" name="curso" class="form-input" placeholder="Curso" required>
                <!--Sign Up Button-->
                <input type="submit" class="button login" value="cadastrar Turma">
            </form>
        </div> <!--/.form-container-->
    </div><!--/.form-page-container-->
    
    {% else %}

    <p>Você não tem permissão para acessar essa página!</p>

    {% endif %}


    {% else %}

    <p>Você está logado</p>


    {% endif %}

    {% if erro_cad %}
    <script>
        alert("Erro no cadastro");
    </script>
    {% endif %}


</div>
{% endblock %}