{% extends "base/base.html" %}

{% block head %}
<title>Cadastro de Complemento - Educação Permanente</title>
{% endblock %}

{% block content %}
<div class="main-content-forms">
    {% if session['logged_in'] %}
    <div class="form-page-container">
        <div class="form-container">


            <form action="/cadastrardadoscomplementares" method="POST">
                <h1>Cadastre sua turma! </h1>
                <p>Cadastre aqui sua turma Educação Permanente.</p>
                <!--User Input-->
                <input type="text" name="tag" class="form-input" placeholder="Tag" required>
                <!--Email Input-->
                <input type="text" name="profissao" class="form-input" placeholder="Profissao" required>
                <!--Password Input-->
                <input type="text" name="funcao" class="form-input" placeholder="Funcao" required>
                <!--Password Input-->
                <input type="text" name="superentendencia" class="form-input" placeholder="Superentendencia da SUBPAV" required>
                <!--Password Input-->
                <input type="text" name="cap" class="form-input" placeholder="CAP" required>
                <!--Password Input-->
                <input type="text" name="unidade" class="form-input" placeholder="Unidade Basica De Saude" required>
                <!--Sign Up Button-->
                <input type="submit" class="button login" value="cadastrar Turma">
            </form>
        </div> <!--/.form-container-->
    </div><!--/.form-page-container-->
    


    {% else %}

    <p>Você não está logado</p>


    {% endif %}

    {% if erro_cad %}
    <script>
        alert("Erro no cadastro");
    </script>
    {% endif %}


</div>
{% endblock %}
