{% extends "base/base.html" %}

{% block head %}
    <title>Educação Permanente | Encontrar atividades</title>
{% endblock %}

{% block body %}
    {% if not envento %}
    <p class="card">Nada por aqui</p>
    {% endif %}
    
    {% for evento in eventos %}
    <div class="card">
        <table class="boxevento">
                
            <tr>
                <th>Evento</th>
                <th class="info">Informações</th>
                
            </tr>

                <tr>
                    <td class=infoevento>Nome</td>
                    <td>{{evento[1]}}</td>
                </tr>

                <tr>
                    <td class=infoevento>Data</td>
                    <td>{{evento[4]}}</td>
                </tr>

                <tr>
                    <td class=infoevento>Local</td>
                    <td>{{evento[3]}}</td>
                </tr>

                <tr>
                    <td class=infoevento>Tipo</td>
                    <td>{{evento[7]}}</td>
                </tr>

                <tr>
                    <td class=infoevento>Assunto</td>
                    <td>{{evento[8]}}</td>
                </tr>

                <tr>
                    <td class=infoevento>Descrição</td>
                    <td>{{evento[2]}}</td>
                </tr>


                </tr>
                 
          
        </table>
    </div>
    {% endfor %}

{% endblock %}