{% extends "base/base.html" %}

{% block head %}
    <title>Educação Permanente</title>
{% endblock %}

<div class="topnav" id="myTopnav">
        <a href="/" class="active">Inicio</a>
</div>

{% block content %}

{% if not session['logged_in'] %}
    <strong>Bem vindo, aluno!</strong> Faça login para uma experiência personalizada!

{% endif %}
        {% if not eventos %}
        <p class="card">Nada por aqui</p>
        {% endif %}


    <div class="card-container">
        <!-- <div class="card"></div>
        <div class="card"></div>
        <div class="card"></div>
        <div class="card"></div>
        <div class="card"></div>
        <div class="card"></div>
        <div class="card"></div>
        <div class="card"></div> -->
        {% for evento in eventos %}
        <div class="card">
            <div class="type"></div>
            <table class="card-list">
                    
                <tr>
                    <th>Turma</th>
                    <th>Informações</th>
                    
                </tr>
    
                    <tr>
                        <td class="name">Professor</td>
                        <td class="value">{{evento[1]}}</td>
                    </tr>
    
                    <tr>
                        <td class="name">Código da turma</td>
                        <td class="value">{{evento[2]}}</td>
                    </tr>
                
                    <tr>
                        <td class="name">Curso</td>
                        <td class="value">{{evento[3]}}</td>
                    </tr>

                    <tr>
                        <td class="name">Número de aulas</td>
                        <td class="value">{{evento[4]}}</td>
                    </tr>
    

                    </tr>             
            </table>
        </div>
        {% endfor %}
    </div>
{% endblock %}

