{% extends "base/base.html" %}

{% block head %}
    <title>Sugerir topicos - Educação Permanente</title>
{% endblock %}

{% block body %}
<div class = "left column">
    <div class = "card">
    <form action="/sugerir" method=POST>
    <div class="evento-box">
    <h1 class="titulo">Monte seu evento</h1>

    {% for tt in teste%}
        <h6 style="text-align: center;margin-bottom: 0;">{{tt}}</h6>
    {% endfor%}

    <div class="tit">Nome</div>
    <input type="text" name="nome" id="nome" placeholder="Nome do evento"><br>
    <div class="tit">Local</div>
    <input type="text" name="local" id="local" placeholder="Local do evento">

    <div class="tit">Data</div>
    <input class="data" type="date" name="data_inicio" id="data" placeholder="Data Inicio">
    <input class="data" type="time" name="hora_inicio"  placeholder="Hora"><br>
    <input class="data" type="date" name="data_fim" id="data" placeholder="Data Fim">
    <input class="data" type="time" name="hora_fim" placeholder="Hora">

    <div class="tit">Qual o curso é relacionado ao evento?</div>
    {%for i in range (0, 14) %}
    <label class="container">{{assuntos[i]}}
        <input type="radio" name="assunto" value="{{assuntos[i]}}" >
        <span class="checkmark"></span>
    </label>
    {%endfor%}

        <div class="tit"> Qual o tipo do evento? </div>
    {%for i in range (0, 8)%}

        <label class="container2"> {{tipos[i]}}
                <input type="radio" name="tipo" value="{{tipos[i]}}" >
                <span class="checkmark2"></span>
        </label>

    {%endfor%}

        <div class="tit">Descreva seu Evento</div>
        <input type="text" placeholder="Não seja timido!" name="descricao"></textarea>
        <input type="submit" value="Criar">
        </form>

</div>
</div>
</div>

{% endblock %}