.main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* align-items: center; */
}

.main button {
  cursor: pointer;
}

.class-details {
  display: flex;
}

.nav-info-turmas {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 2em 0;
}

.nav-info-turmas button {
  width: 350px;
}

@media (max-width: 820px) {
  .nav-info-turmas {
    margin-top: -200px;
  }
}

@media(max-width: 1024px) {
  .class-details {
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: 500px) {
  .main.turma {
     transform: scale(0.9);
  }
  .nav-info-turmas {
    margin-top: -10%;
  }

  .info-turmas {
    margin-top: -20%!important;
  }  
}