.autocomplete-wrapper {
   width: 350px;
   position: relative;
   display: inline-block;
 }
 
 .autocomplete-wrapper > div {
   width: 80%;
 }
 
 .autocomplete-wrapper input {
  background-color: hsl(0, 0%, 95%);
   padding: 12px 15px;
   font-size: 14px;
   width: 100%;
 }
 
 .autocomplete-wrapper input:focus {
   border-color:hsl(0, 0%, 95%);
   box-shadow: none;
   outline: none;
 }
 
 .autocomplete-wrapper .dropdown {
   width: 100%;
   padding: 0;
   text-align: left;
   max-height: 280px;
   overflow: hidden;
   overflow-y: auto;
   background-color: hsl(0, 0%, 95%);
   border-top: none;
 }
 
 .autocomplete-wrapper .item  {
   display: block;
   cursor: pointer;
   font-size: 14px;
   padding: 15px;
 }
 
 .autocomplete-wrapper .item.selected-item {
   background-color: rgb(226, 226, 226);
   color: #000;
 }
 
 .autocomplete-wrapper .item:hover {
   background-color: rgb(226, 226, 226);
   color: #000;
 }