/* Ajustando posicionamento dos componentes */

.card-list {
	display: flex;
	flex-direction: column;
}

.card-list tr {
	margin: 0;
}

.card-list .title {
	align-self: center;
	font-family: "gadugi-bold";
}

.card-list tr.content {
	display: flex;
	justify-content: space-between;
	margin: 0 1em 0 1em;
}

.card-container {
	flex-wrap: wrap !important;
	margin-bottom: 2em !important;
}


/* aviso para quando não houver turmas */
p.empty {
	margin-top: 100px;
	font-size: 1.8em;
	letter-spacing: 5px;
	color: #d4d4d4;
	font-family: "gadugi-bold";
}

@media (max-width: 560px) {
	.card-list, .card {
        transform: scale(0.9);
        margin-left: 0;
        margin-right: 0;
	}
}