/* Ajustando posicionamento dos componentes */

.card-list {
	display: flex;
	flex-direction: column;
}

.card-list tr {
	margin: 0;
}

.card-list .title {
	align-self: center;
}

.card-list tr.content {
	display: flex;
	justify-content: space-between;
	margin: 0 1em 0 1em;
}

.card-container {
	flex-wrap: wrap !important;
	margin-bottom: 2em !important;
}

.link-info {
	text-decoration: none;
	color: var(--elements-second-color);
	font-family: "Montserrat", sans-serif;
	font-weight: bold;
	position: absolute;
	margin-left: 60%;
	margin-top: -10px;

	display: flex;
	flex-direction: column;
	align-items: center;
}

.link-info:hover {
	transform: translateY(-4px);
}

.teste {
	display: inline-block;
}

@media (max-width: 560px) {
	.card-list, .card {
        transform: scale(0.9);
        margin-left: 0;
        margin-right: 0;
	}
}
